.vscode/**
.vscode-test/**
node_modules/**
jsoncrack/**
src/**
scripts/**
ext-src/**
.gitignore
.pnpm-lock.yaml
webpack.config.cjs
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.env